<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/18573/18573624.png">
</head>
<body>
    {% include 'nav.html' %}
    <section>
        <div class="form-section">
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="heading">
                    <div class="head-content">
                        <h2>
                            To Do List
                        </h2>
                    </div>
                </div>
                {% csrf_token %}
                <div class="form-contents">
                    <label for="title">Task Title:</label>
                    <input type="text" id="title" name="title" autocomplete="off" required>
                </div>
                <div class="form-contents">
                    <label for="description">Task Description:</label>
                    <input type="text" id="description" name="description" autocomplete="off" required>
                </div>
                <div class="button">
                    {% if edit == True %}
                    <button type="submit">Save Changes</button>
                    {% else %}
                    <button type="submit">Add Task</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </section>
</body>
</html>